<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Client Management</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/client.css" rel="stylesheet">
</head>

<body>

	<!--modale pour ajouter-->

	<button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#Modaleadd"><img
			src="/image/plus.png" id="add">Ajouter un nouveaux client</button>

	<div class="modal fade" id="Modaleadd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Ajouter un client</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
				</div>
				<div class="modal-body">
					<form id="modalForm">

						<div class="mb-3">
							<label for="cin" class="form-label">cin</label>
							<input type="text" class="form-control" id="cin" name="cin" required>
						</div>

						<div class="mb-3">
							<label for="nom" class="form-label">nom</label>
							<input type="text" class="form-control" id="nom" name="nom" required>

						</div>

						<div class="mb-3">
							<label for="prenom" class="form-label">prenom</label>
							<input type="text" class="form-control" id="prenom" name="prenom" required>

						</div>



						<button type="submit" class="btn btn-primary" onclick="insert()" id="save">Enregistrer</button>

					</form>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
				</div>
			</div>
		</div>
	</div>







	<!--Modale update-->







	<!--Modale pour modifier-->


	<div class="modal fade" id="ModaleUpdate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">modifier un client</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
				</div>
				<div class="modal-body">
					<form id="modalForm">


						<div class="mb-3">
							<label for="cinUpdate" class="form-label">Cin</label>
							<input type="text" class="form-control" id="cinUpdate" name="cinUpdate" required>
						</div>

						<div class="mb-3">
							<label for="nomUpdate" class="form-label">Nom</label>
							<input type="text" class="form-control" id="nomUpdate" name="nomUpdate" required>
						</div>

						<div class="mb-3">
							<label for="prenomUpdate" class="form-label">prenom</label>
							<input type="text" class="form-control" id="prenomUpdate" name="prenomUpdate" required>
						</div>




						<button type="submit" class="btn btn-warning" onclick="updateClient()"
							id="update">update</button>
					</form>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
				</div>
			</div>
		</div>
	</div>







	<hr />
	<h1>List of Client</h1>
	<div class="card-body">
		<form method="get" th:action="@{index}">
			<label>Keyword</labe>
				<input type="text" id="txtRequestor" name="Keyword" th:value="${Keyword}">
				<button type="submit"> Chercher</button>
		</form>
	</div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>cin</th>
				<th>nom Client</th>
				<th>prenom</th>
				<th>delete-ajax</th>
				<th>Edit</th>
			</tr>
		</thead>
		<tbody id="tbody">
			<tr th:id="${client.cin}" th:each="client: ${clients}">
				<td th:text="${client.cin}" />
				<td th:text="${client.nom}" />
				<td th:text="${client.prenom}" />
				<td><a th:href="|javascript:deleteClient(${client.cin})|"><img src="/image/delete.png"
							class="image"></a></td>
				<td>
					<a th:href="|javascript:edit(${client.cin})|"><button data-bs-toggle="modal"
							data-bs-target="#ModaleUpdate" class="button"><img src="/image/pencil.png"
								class="image"></button></a>
				</td>
			</tr>
		</tbody>
	</table>
	<ul class="nav nav-pills">
		<li th:each="page,status:${pages}">
			<a th:class="${status.index == currentPage ? 'btn btn-info ms-1' : 'btn btn-outline ms-1'}" th:text="${status.index}" th:href="@{index(page=${status.index},Keyword=${Keyword})}"></a>
		</li>
	</ul>

	<script src="/js/bootstrap.bundle.min.js"></script>
	<script src="/js/jquery-3.7.1.min.js"></script>
	<script src="/js/sweetalert.min.js"></script>
	<script src="/js/clients.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

</body>

</html>