<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Comptes Management</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/compte.css" rel="stylesheet">
	<link href="/css/select2.min.css" rel="stylesheet" />
	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>


<body>










	<!--modale pour ajouter-->

	<button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#Modaleadd"><img
			src="/image/plus.png" id="add">Ajouter un nouveaux client</button>

	<div class="modal fade" id="Modaleadd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Ajouter un compte</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
				</div>
				<div class="modal-body">
					<form id="modalForm">

						<div class="mb-3">
							<label for="cin" class="form-label">client</label>
							<select name="clientCin" required class="form-control" id="client1">
								<option value="" disabled selected>Select a client</option>
								<option th:each="client : ${clients}" th:text="${client.nom} + ' ' + ${client.prenom}"
									th:value="${client.cin}">
								</option>
							</select>
						</div>

						<div class="mb-3">
							<label for="solde" class="form-label">solde</label>
							<input type="text" class="form-control" id="solde" name="solde" required>

						</div>





						<button type="submit" class="btn btn-primary" onclick="insert()" id="save">Enregistrer</button>

					</form>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
				</div>
			</div>
		</div>
	</div>





	<!--Modale pour modifier-->


	<div class="modal fade" id="ModaleUpdate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">modifier un compte</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
				</div>
				<div class="modal-body">
					<form id="modalForm">

						<div class="mb-3">
							<label for="rib" class="form-label">rib</label>
							<input type="hidden" class="form-control" id="ribUpdate" name="rib" required>

						</div>
						<div class="mb-3">
							<label for="cin" class="form-label">client</label>
							<select name="clientCinUpdate" required class="form-control" id="client">
								<option value="" disabled selected>Select a client</option>
								<option th:each="client : ${clients}" th:text="${client.nom} + ' ' + ${client.prenom}"
									th:value="${client.cin}">
								</option>
							</select>
						</div>

						<div class="mb-3">
							<label for="solde" class="form-label">solde</label>
							<input type="text" class="form-control" id="soldeUpdate" name="solde" required>

						</div>





						<button type="submit" class="btn btn-warning" onclick="updateCompte()"
							id="update">update</button>
					</form>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
				</div>
			</div>
		</div>
	</div>














	<hr />
	<h1>List of Comptes</h1>
	<div class="card-body">
		<form method="get" th:action="@{index}">
			<label>Recherche par nom Client</labe>
				<input type="text" id="txtRequestor" name="Keyword" th:value="${Keyword}">
				<button type="submit"> Chercher</button>
		</form>
	</div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>id</th>
				<th>nomClient</th>
				<th>solde</th>
				<th>delete-ajax</th>
				<th>Edit</th>
			</tr>
		</thead>
		<tbody id="tbody">
			<tr th:each="compte : ${comptes}">
				<td th:text="${compte.rib}" />
				<td th:text="${compte.client.nomComplet}" />
				<td th:text="${compte.solde}" />
				<td><a th:href="|javascript:deleteCompte(${compte.rib})|"><img src="/image/delete.png"
							class="image"></a></td>
				<td>
					<a th:href="|javascript:edit(${compte.rib})|">
						<button data-bs-toggle="modal" data-bs-target="#ModaleUpdate" class="button">
							<img src="/image/pencil.png" class="image">
						</button>
					</a>
				</td>
			</tr>
		</tbody>
	</table>

	<ul class="nav nav-pills" id="pagination">
		<li th:each="page, status : ${pages}">
			<a th:class="${status.index == currentPage ? 'btn btn-info ms-1' : 'btn btn-outline ms-1'}"
				th:text="${status.index}" th:href="@{index(page=${status.index}, Keyword=${Keyword})}"></a>
		</li>
	</ul>

	<script src="/js/select2.min.js"></script>
	<script src="/js/bootstrap.bundle.min.js"></script>
	<script src="/js/jquery-3.7.1.min.js"></script>
	<script src="/js/sweetalert.min.js"></script>
	<script src="/js/comptes.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
	<script>
		// Initialisation de Select2 après l'ouverture du modal
		$('#Modaleadd').on('shown.bs.modal', function () {
			$('#client1').select2({
				tags: false, // Pas d'ajout dynamique
				dropdownParent: $('#Modaleadd') // Fix pour afficher la liste déroulante dans un modal
			});
		});
		$('#ModaleUpdate').on('shown.bs.modal', function () {
			$('#client').select2({
				tags: false, // Pas d'ajout dynamique
				dropdownParent: $('#ModaleUpdate') // Fix pour afficher la liste déroulante dans un modal
			});
		});
	</script>

</body>

</html>