<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Comptes Management</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
	<h1>Add new Compte</h1>
	<form th:action="@{save}" method="post">
		<table>
			<tr>
				<!--<td>nomClient </td>
				<td><input type="text" name="nomClient" /> </td>-->
				<td>client </td>
				<td>
					<select name="clientCin" required>
					       <option value="" disabled selected>Select a client</option>
					       <option th:each="client : ${clients}" 
					               th:text="${client.nom} + ' ' + ${client.prenom}" 
					               th:value="${client.cin}">
					       </option>
					   </select>
					
				</td>
				
			</tr>
			<tr>
				<td>solde </td>
				<td><input type="text" name="solde" /> </td>
			</tr>
			<tr>
				<td><input type="submit" value="save" class="btn btn-primary" /> </td>
				<td> </td>
			</tr>
		</table>
	</form>
	<hr />
	<h1>List of Comptes</h1>
	<table class="table table-striped">
		<tr>
			<th>id</th>
			<th>nomClient</th>
			<th>solde</th>
			<th>delete</th>
			<th>delete-ajax</th>
			<th>Edit</th>
		</tr>
		<tr th:id="${compte.rib}" th:each="compte: ${comptes}">
			<td th:text="${compte.rib}" />
			<td th:text="${compte.client.nomComplet}" />
			<td th:text="${compte.solde}" />
			<td><a th:href="'/comptes/delete/'+${compte.rib}" class="btn btn-danger">delete</a></td>
			<td><a th:href="|javascript:deleteCompte(${compte.rib})|" class="btn btn-success">delete-ajax</a></td>
			<td>
				<form th:action="@{edit}" method="post">
					<input type="hidden" name="rib" th:value="${compte.rib}" />
					<input type="submit" value="edit" class="btn btn-secondary" />
				</form>
			</td>
		</tr>
	</table>

	<script src="/js/bootstrap.bundle.min.js"></script>
	<script src="/js/jquery-3.7.1.min.js"></script>
	<script src="/js/sweetalert.min.js"></script>
	<script src="/js/comptes.js"></script>
</body>

</html>